#app-list-box {
    background-color: rgb(189, 63, 161);
    width: 200px;
    height: 180px;
    margin-top: 145px;
    position: absolute;
    margin-left: 55%;
    color: white;
    font-size: 18px;


}

a {
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    padding: 5px;
    text-decoration: none;
    color: white;
}
