#bookBox {

    background-color: rgb(189, 63, 161);
    width: 200px;
    height: 180px;
    margin-top: 145px;
    text-align: center;
    margin-left: 30%;
    color: white;
    font-size: 18px;
    position: absolute;
}
